@font-face {
  font-family: Anton;
  src: url('Anton-Regular.ttf');
}

@font-face {
  font-family: Oswald;
  src: url('Oswald-VariableFont_wght.ttf');
}

@media screen and (max-width: 1024px) {
  div.navbar {
    display: none;
  }


  h1, h2, h3, h4, h5, h6 {
    color: black;
  }

  div.content {
    width: 100%;
  }
}

body {
  background-color: black;
  font-family: Anton, sans-serif;
}

p {
  font-family: Oswald, sans-serif;
  text-align: justify;
  text-indent: 10px;
}

.contentWrapper {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-color: white;
}

header {
  display: flex;
  height: 10%;
  /* position: fixed;
  top: 0; */
  max-height: 70px;
  background-color: black;
  width: 100%;
}

.logo {
  width: 20%;
  max-height: 70px;
}

.content {
  padding-top: 1rem;
  border-right: thick solid black;
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  display: flex;
  color: white;
  padding-top: 5px;
  padding-left: 10px;
  justify-content: flex-start;
}

.logo img {
  box-sizing: border-box;
  /* width: 50%;
  height: 20%; */
}

#logo {
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 10px;
  max-width: 85px;
}

.socials {
  display: flex;
  padding-left: 8px;
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
}

img.social {
  box-sizing: border-box;
  max-width: 35px;
}

.socialLink {
  text-align: center;
}

img.inTextImg {
  width: 75%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.alt {
  font-size: 0.8rem;
  color: #3d3d3d;
  text-align: center;
}

footer div {
  display: flex;
  align-items: center;
}

footer div:first-child {
  margin-left: 1em;
}

.footNav {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  list-style: none;
}

.footNav li {
  padding: 1em;
}

.nav {
  list-style: none;
  position: fixed;
  padding-right: 1rem;
  font-size: 1rem;
  padding-top: 1rem;
}

.nav.flex-column .nav-link:hover {
  color: white;
  background-color: black;
}

.nav .nav-link:hover {
  color: black;
  background-color: white;
}

li ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.head-nav {
  color: white;
}

.head-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.footer {
  color: white;
}

.nav.footer-nav {
  position: inherit;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar {
  background-color: black;
}

.header {
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 1;
}

.badge-dark {
  background-color: black;
  border-radius: 0;
  padding: 0.6rem;
  font-size: 50%;
  margin-left: 5rem;
  user-select: none;
}

.badge-dark:hover {
  background-color: white;
  color: black;
}
